# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
